.App {
  text-align: center;
  font-family: Nunito;
}

$hover-color: deepskyblue;

nav {
  min-height: 10vh;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

//image
.image-holder {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  border-style: solid;
  border-width: thick;
}

.image-holder:hover {
  border-style: solid;
  border-width: thick;
  border-color: $hover-color;
}
