.App {
  text-align: center;
  font-family: Nunito;
}

$hover-color: deepskyblue;

nav {
  min-height: 10vh;
}

.navbar-light .navbar-nav .nav-link {
  color: black;
}

//image
.image-holder {
  max-height: 200px;
  max-width: 200px;
  border-radius: 50%;
  border-style: solid;
  border-width: thick;
}

.image-holder:hover {
  border-style: solid;
  border-width: thick;
  border-color: $hover-color;
}

.proficient {
  background-color: #faae2b;
  border-radius: 0.25rem;
  box-shadow: 0.4rem 0.4rem #222;
  display: flex;
  justify-content: space-evenly;
}

.learning {
  background-color: #8bd3dd;
  border-radius: 0.25rem;
  box-shadow: 0.4rem 0.4rem #222;
  display: flex;
  justify-content: space-evenly;
}

.facebook :hover {
  color: #1877f2;
}

.twitter :hover {
  color: rgb(29, 161, 242);
}

.github :hover {
  color: black;
}

.gitlab :hover {
  color: #fa7035;
}

.spotify :hover {
  color: #1ed760;
}

.discord :hover {
  color: #7289da;
}

.linkedin :hover {
  color: #0a66c2;
}

.youtube :hover {
  color: rgb(255, 0, 0);
}

.instagram :hover {
  color: #c72b8a;
}

.built-socmed:hover~.gitlab {
  color: #fa7035;
}

.built-socmed:hover~.spotify {
  color: #1ed760;
}

.built-socmed:hover~.github {
  color: black;
}

.direct-socmed:hover~.facebook {
  color: #1877f2;
}

.direct-socmed:hover~.twitter {
  color: rgb(29, 161, 242);
}

.direct-socmed:hover~.discord {
  color: #7289da;
}

.direct-socmed:hover~.linkedin {
  color: #0a66c2;
}

.direct-socmed:hover~.youtube {
  color: rgb(255, 0, 0);
}

.direct-socmed:hover~.instagram {
  color: #c72b8a;
}